.header {
  text-align: center;
  background: linear-gradient(0.25turn, #fbd249, #91c07b, #3498eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 20%;
}

.app {
  padding: 30px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
